<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">
        Console for <em style='color:blue;'><strong>127.0.0.1</strong></em>
    </h3>
  </div>
  <div class="panel-body console">
    <p class="">A simple console log</p>
    <p class="aler">This is a alert line</p>
    <p class="crit">This is a crit line</p>
    <p class="err">This is a err line</p>
    <p class="warning">This is a warning line</p>
    <p class="notice">This is a notice line</p>
    <p class="info">This is a info line</p>
    <p class="debug">This is a debug line</p>
  </div>
  <div class="panel-footer">
    <div class="input-group">
      <input type="text" class="form-control" placeholder="Issue your commands from here.">
      <span class="input-group-btn">
        <button class="btn btn-danger" type="button">Send</button>
      </span>
    </div><!-- /input-group -->
  </div>
</div>