$icon-font-path: "/bower_components/sass-bootstrap/fonts/";

@import 'sass-bootstrap/lib/bootstrap';

.browsehappy {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

html {
    height: 100%;
}

/* Space out content a bit */
body {
    padding: 20px 20px;
    height: 100%;
}

/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.content,
.footer {
    padding-left: 15px;
    padding-right: 15px;
}

/* Place a margins for content */
.content {
    padding-top: 10px;
}

.content .btn-danger {
    min-width: 90px;
}

/* Console should look like a console */
div.console {
    background: #000000;
    color: #FFFFFF;
    font-family: monospace;
    overflow-y: scroll;
    border: 1px solid #FFFFFF;
}

div.console p {
    line-height: 15px;
    color : #FFFFFF;
    margin: 0;
}

div.console p.aler, div.console p.crit,  div.console p.err {
    color : red;
}

div.console p.warning {
    color: magenta;
}

div.console p.notice {
    color: cyan;
}

div.console p.info {
    color: green;
}

div.console p.debug {
    color: yellow;
}

/* Custom page header */
.header {
    border-bottom: 1px solid #e5e5e5;
}

/* Make the masthead heading the same height as the navigation */
.header h3 {
    margin-top: 0;
    margin-bottom: 0;
    line-height: 40px;
}

/* Custom page footer */
.footer {
    padding-top: 19px;
    color: #777;
    border-top: 1px solid #e5e5e5;
}